@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/tailwind.css';

body {
  font-family: 'Helvetica Neue', sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
 
}
.hero{
  text-shadow: 2px 1px 1px gray;
}
ul{
  list-style: circle;
  
}
/* styles/custom.css */
/* Customize the list bullets */
ul.custom-list {
  list-style-type: none;
  padding-left: 1.5rem;
}

ul.custom-list li:before {
  content: "•";

  margin-right: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    
  }
} */
